html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

@media (min-width: 576px){
    
}